<div class="col-md-8 col-md-offset-2">
<h1>Pending Requests</h1>
<% if @pendingCommitments.any? %>
  <div class="microposts">
    <%= render @pendingCommitments %>
  </div>
  <%= will_paginate @pendingCommitments %>
<% else %>
  <br>
  <div class="center">Nothing here yet!</div>
<% end %>
</div>