<%= render 'shared/flash_message' %>
<div class="col-md-10 col-md-offset-1">
<h1>Pending Requests</h1>
<br>
<% if @pendingCommitments.any? %>
  <div class="microposts">
    <%= render @pendingCommitments %>
  </div>
  <%= will_paginate @pendingCommitments %>
<% else %>
  <div class="center">Nothing here yet!</div>
<% end %>
</div>