<div class="col-md-10 col-md-offset-1">
    <h1>My Posts</h1>
    <br>
    <% if @feed_items.any? %>
        <%= render 'shared/feed' %>
    <% else %>
      <div class="center">Nothing here yet!</div>
    <% end %>
</div>