@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$navy: rgba(15, 49, 69, 1);
$navyHighlight: rgba(18, 58, 82, 1);

$storm: rgba(116, 100, 120, 1);
$stormHighlight: rgba(131, 112, 135, 1);

$teal: rgba(124, 217, 180, 1);
$tealHighlight: rgba(141, 247, 205, 1);
$tealShadow: rgba(108, 189, 157, 1);

$sunshine: rgba(235, 233, 182, 1);
$sunshineHighlight: rgba(247, 245, 192, 1);

$tangerine: rgba(255, 161, 105, 1);
$tangerineHighlight: rgba(255, 172, 105, 1);

$chocolate: rgba(46, 29, 19, 1);
$dandelion: rgba(240, 222, 123, 1);
$punch: rgba(255, 122, 105, 1);
$spring: rgba(167, 211, 139, 1);
$fog: rgba(69, 68, 53, 1);
$night: rgba(22, 19, 23, 1);
$white: #fff;



/* universal */

html {
    margin: 0;
    padding: 0;
    background-color: $navy;
    color: $white;
}

body {
    margin: 0;
    padding: 0;
    background-color: $navy;
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    
    a {
      color: $teal;
    }
    
    a:hover {
      color: $tealHighlight;
    }
}

.content {
    padding: 4em 0 0 0;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding: 1em;
  border-top: 1px solid $navyHighlight;
  color: #42CBD1;
  a {
    color: $teal;
    &:hover {
      color: $teal;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  color: $navy;
}

input {
  height: auto !important;
}

textarea {
  height: 6em;
  border-radius: 0.3em;
}

#error_explanation {
  color: $punch;
  ul {
    color: $punch;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
    box-shadow: 0 0 8px $punch;
  }
}

#banner {
    margin: 0;
    height: 280px;
    height: 16em;
    background-image: url(image_path('OGBHillL.png')), url(image_path('OGBFlatirons.png')), url(image_path('OGBHillR.png'));
    background-color: #42CBD1;
    background-size: auto 25%, auto 90%, auto 15%;
    background-repeat: no-repeat;
    background-position: left bottom, center bottom, right bottom;
    
    #innerBanner {
      height: inherit;
      background-image: url(image_path('OGBTitle.png')), url(image_path('OGBBranchL.gif')), url(image_path('OGBBranchR.gif'));
      background-size: auto 90%, auto 95%, auto 80%;
      background-repeat: no-repeat;
      background-position: center, left, right;
    }
}


/* Navigation Bar */

nav {
  margin-bottom: 0!important;
}

.custom-navbar .fa {font-size: 30px}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    font-size: 18px;
    
    &:hover {
      background: $navyHighlight;
    }
}

.navbar-header {
    margin: 15px;
    width: 50px;
    height: 50px;
}

@media (max-width:767px) { 
    .custom-navbar .navbar-right {
        float: right;
        padding-right: 15px;
    }
    .custom-navbar .nav.navbar-nav.navbar-right li {
        float: right;
    }
    .custom-navbar .nav.navbar-nav.navbar-right li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .custom-navbar .navbar-toggle {
        float: left
    }
    .custom-navbar .navbar-header {
        float: left;
        width: auto!important;
    }
    .custom-navbar .navbar-collapse {
        clear: both;
        float: none;
    }
    .navbar-header {
      height: 35px; 
      width: 35px;
    }
}


/* Typography */
.quicksand { font-family: 'Quicksand', sans-serif; }

.tangerine { color: $tangerine; }

.teal { color: $teal; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $sunshine;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* Deco */
.infoBox {
  background: $navyHighlight;
  border-radius: 0.5em;
  padding: 1em;
  margin-bottom: 1.5em;
}

.divided {
  border-bottom: 2px solid $navyHighlight;
  padding-bottom: 1em;
  margin-bottom: 3em;
}

.inline {
  display: inline-block;
}

/* Buttons */
.btn {
  font-size: 1.5em;
}

.btn-sm {
  font-size: 1em;
}

.btn-square {
  width: 150px;
  height: 150px;
  margin: 0 5px 10px 0;
  
  .fa { 
    font-size: 50px; 
    line-height: 100px;
  }
}

.btn-primary {
  font-weight: bold;
  color: $navy;
  background: $teal;
  border: 1px solid $tealShadow;
  
  &:hover {
    color: $navy;
    background: $tealHighlight;
    border: 1px solid $teal;
  }
  
  &:focus {
    color: $navy !important;
    background: $tealHighlight !important;
    border: 1px solid $teal !important;
  }
}

.btn-secondary {
  font-weight: bold;
  color: $chocolate;
  background: $tangerine;
  
  &:hover {
    color: $chocolate;
    background: $tangerineHighlight;
  }
  
  &:active {
    color: $chocolate;
    background: $tangerineHighlight;
  }
}

.btn-tertiary {
  font-weight: bold;
  color: $fog;
  background: $sunshine;
  
  &:hover {
    color: $fog;
    background: $sunshineHighlight;
  }
  
  &:active {
    color: $fog;
    background: $sunshineHighlight;
  }
}

.btn-quaternary {
  font-weight: bold;
  color: $night;
  background: $storm;
  
  &:hover {
    background: $stormHighlight;
    color: $night;
  }
  
  &:active {
    background: $stormHighlight;
    color: $night;
  }
}

.btn-outline-primary {
  font-weight: bold;
  color: $teal;
  background: $navy;
  border: 3px solid $teal;
  border-radius: 10px;
  width: auto;
  
  &:hover {
    color: $navy;
    background: $teal;
    border: 3px solid $teal;
  }
  
  &:focus {
    color: $navy !important;
    background: $teal !important;
    border: 3px solid $teal !important;
  }
}

.btn-outline-secondary {
  font-weight: bold;
  color: $tangerine;
  background: $navy;
  border: 3px solid $tangerine;
  border-radius: 10px;
  width: auto;
  
  &:hover {
    color: $navy;
    background: $tangerine;
    border: 3px solid $tangerine;
  }
  
  &:focus {
    color: $navy !important;
    background: $tangerine !important;
    border: 3px solid $tangerine !important;
  }
}

.btn-outline-tertiary {
  font-weight: bold;
  color: $sunshine;
  background: $navy;
  border: 3px solid $sunshine;
  border-radius: 10px;
  width: auto;
  
  &:hover {
    color: $navy;
    background: $sunshine;
    border: 3px solid $sunshine;
  }
  
  &:focus {
    color: $navy !important;
    background: $sunshine !important;
    border: 3px solid $sunshine !important;
  }
}

.btn-outline-quaternary {
  font-weight: bold;
  color: $stormHighlight;
  background: $navy;
  border: 3px solid $stormHighlight;
  border-radius: 10px;
  width: auto;
  
  &:hover {
    color: $navy;
    background: $stormHighlight;
    border: 3px solid $stormHighlight;
  }
  
  &:focus {
    color: $navy !important;
    background: $stormHighlight !important;
    border: 3px solid $stormHighlight !important;
  }
}

.btn-outline-spring {
  font-weight: bold;
  color: $spring;
  background: $navy;
  border: 3px solid $spring;
  border-radius: 10px;
  width: auto;
  
  &:hover {
    color: $navy;
    background: $spring;
    border: 3px solid $spring;
  }
  
  &:focus {
    color: $navy !important;
    background: $spring !important;
    border: 3px solid $spring !important;
  }
}

.btn-outline-dandelion {
  font-weight: bold;
  color: $dandelion;
  background: $navy;
  border: 3px solid $dandelion;
  border-radius: 10px;
  width: auto;
  
  &:hover {
    color: $navy;
    background: $dandelion;
    border: 3px solid $dandelion;
  }
  
  &:focus {
    color: $navy !important;
    background: $dandelion !important;
    border: 3px solid $dandelion !important;
  }
}

.btn-outline-punch {
  font-weight: bold;
  color: $punch;
  background: $navy;
  border: 3px solid $punch;
  border-radius: 10px;
  width: auto;
  
  &:hover {
    color: $navy;
    background: $punch;
    border: 3px solid $punch;
  }
  
  &:focus {
    color: $navy !important;
    background: $punch !important;
    border: 3px solid $punch !important;
  }
}


/* Flash Messages */
.alert-success {
  background-color: $spring;
  color: #0e2301;
  border: 1px solid #86ba66;
}

.alert-danger {
  background-color: $punch;
  color: #3a0600;
  border: 1px solid #d14938;
}

.alert-warning {
  background-color: #efc683;
  color: #472f15;
  border: 1px solid #e5b15b;
}